# Default port 80
services:
  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    restart: always
    stdin_open: true
    tty: true
    networks:
      - proxy
networks:
  proxy:
    external: true
